.main-container {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
}

.radio-container {
  display: flex;
  flex-direction: column;
}

.radio-container > * {
  width: 100%;
}

.radio-container form {
  margin-bottom: 20px;
}

.radio-container form > * {
  margin: 5px 0;
}

.radio-container .mat-radio-button {
  margin: 0 12px;
}
/* Responsive media querys */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .main-container {
    flex-direction: column;
  }
}
@media screen and (min-width: 601px) {
  .container {
    width: 50%;
  }
}